@import "tailwindcss";

@keyframes scan-line {
  0% {
    top: 0%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}

.scan-line {
  animation: scan-line 1.8s ease-in-out infinite;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.35s ease-out;
}
